[user]
        name = Anant Patil
        email = patilan@vmware.com
[core]
        editor = vim
        compression = 0
        excludesfile = ~/.gitignore
        pager = delta
        # pager = colordiff
[merge]
        tool = vimdiff
[push]
        default = current
[pull]
        default = current
[url "https://"]
        insteadOf = git://
[http]
        sslVerify = false
        postBuffer = 524288000
[credential]
        helper = cache --timeout=360000

[pager]
    branch = false
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    # features = side-by-side line-numbers decorations
    features = line-numbers
    # whitespace-error-style = 22 reverse
    # syntax-theme = Monokai Extended
    # syntax-theme = ansi
    syntax-theme = zenburn

[delta "decorations"]
    # commit-decoration-style = bold yellow box ul
    # file-style = bold yellow ul
    # file-decoration-style = none
