[user]
        name = Anant Patil
        email = patilan@vmware.com
[core]
        editor = vim
        compression = 0
        excludesfile = ~/.gitignore
        pager = delta
[merge]
        tool = vimdiff
[push]
        default = current
[pull]
        default = current
[url "https://"]
        insteadOf = git://
[http]
        sslVerify = false
        postBuffer = 524288000
[credential]
        helper = cache --timeout=360000
[pager]
        branch = false
[delta]
        # plus-color = "#012800"
        # minus-color = "#340001"
        # syntax-theme = Monokai Extended
        # features = side-by-side line-numbers decorations
        features = line-numbers decorations
        # whitespace-error-style = 22 reverse
        syntax-theme = gruvbox

[interactive]
        diffFilter = delta --color-only

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
